.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto 0;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  height: 300px;
  border-top: 2px solid rgb(79, 79, 79);
}

.footer a i {
  font-size: 25px;
  color: #393838;
  transition: all 0.2s ease-in-out 0s;
  transform-origin: center;
}

.footer a i:hover {
  transform: scale(1.5);
}
