/* Handles.jsx */

/* Coding Profiles */

#Coding-Profiles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: min(1000px, 92%);
  margin-left: auto;
  margin-right: auto;
}

.profiles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  width: min(500px, 50%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.profile > a > img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  border-radius: 20px;
  margin-bottom: 2rem;
}

@media (max-width: 1000px) {
  .profiles {
    grid-template-columns: repeat(1, 1fr);
    width: 45vw;
  }
}

/* Contact Me */

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.box {
  display: block;
  text-align: center;
  padding: 20px;
  width: 10rem;
}

.coolinput {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  max-width: 240px;
}

.coolinput input {
  padding: 20px;
  width: 100%;
}

.coolinput label.text {
  font-size: 0.75rem;
  color: rgb(87, 86, 86);
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: white;
  width: fit-content;
}

.coolinput input[type="text"].input {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 2px rgb(87, 86, 86) solid;
  border-radius: 5px;
  background: white;
}

.coolinput input[type="text"].input:focus {
  outline: none;
}

.coolinput textarea[type="text"].textarea {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 2px rgb(87, 86, 86) solid;
  border-radius: 5px;
  background: white;
}

.coolinput textarea[type="text"].textarea:focus {
  outline: none;
}
