/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

#root {
  margin: 0px;
  padding: 0px;
}
.section {
  scroll-margin-top: 96px;
}
